
footer {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    background-color: #08223a !important;

}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

footer .logo {
    margin-bottom: 30px;
    width: 150px;
    height: 100px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 14px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color:white;
    margin-bottom: 10px;

}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color:white;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border:none;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #d0d0d0;
}

footer .copyright {
    width: 100%;
    text-align: center;
}
