.r-wrapper {
  position: relative;
  padding-bottom: 2rem;
  gap: 3rem;
}

.r-head {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 48px;
  color: #ffffff;
  align-items: center;
}

.slider-container {
  height: 600px;
  width: 100%;
  border-radius: 60px;
  margin-top: 40px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 400px;
  width: 800px;
  padding: 20px;
  text-align: center;
  border: none;
  border-radius: 30px;
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}

.card h2 {
  font-size: 24px; /* Adjust the font size as desired */
  font-weight: 600; /* Adjust the font weight as desired */
  color: #ffffff; /* Adjust the text color as desired */
  margin-bottom: 10px;
  padding: 50px;
}

.card p {
  font-size: 16px; /* Adjust the font size as desired */
  font-weight: 400; /* Adjust the font weight as desired */
  color: #ffffff; /* Adjust the text color as desired */
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #ffffff;
}

.swiper-pagination-bullet {
  background-color: #cccccc;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

@media (max-width: 740px) {
  .r-head>span{
    font-size: 1.5rem;
  }
  .card>h2{
    font-size: 20px;
  }
  .card>p{
    font-size: 14px;
  }
  .card{
    height: auto;
    width: auto;
  }
}